.invalid {
  border: 1px solid red;
}

form {
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

div {
  display: flex;
  line-height: 2em;
  margin: 5px;
}

label {
  color: #333;
  width: 110px;
  font-size: 1em;
  line-height: 32px;
  display: block;
}

input,
textarea {
  flex: 1;
  padding: 3px 5px;
  font-size: 1em;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=radio] {
  display: flex;          
  flex-direction: row; 
  margin-left: 15px;
}

button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 15px;
}

pre {
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
}